@page
@model SailorTheCat.Pages.AboutModel
@{
    ViewData["Title"] = "About the Website";
}
<h1>@ViewData["Title"]</h1>

<p>Version 1.45: NetCore 9.0 : Release 2024 - 12 - 28</p>

<br>
<img src="~/images/cat.jpg" alt="Release watch." >
