@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sailor is a baby. If you break his privacy: Your inevitable punishment is a paw full of sharp claws >:C.</p>
<br>
<img src="~/images/pow.jpg" alt="Paw view." >
